﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>XSockets.NET - WebRTC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ohayo Webrtc" />
    <meta name="author" content="Ohayo" />

    <!-- styles -->
    <link href="/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Assets/css/custom.css" rel="stylesheet" />
    <link href="/Assets/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <script src="/Assets/Scripts/Lib/jquery-2.1.1.js"></script>
    <script src="/Assets/Scripts/Lib/XSockets.latest.min.js"></script>
    <script src="/Assets/Scripts/Lib/XSockets.WebRTC.latest.min.js"></script>

    <!-- Bootstrap-->
    <script src="/Assets/Scripts/Lib/bootstrap.min.js"></script>

    <script src="/Assets/Scripts/main.js"></script>

</head>
<body>
    <h3>XSockets.NET WebRTC Sample</h3>

    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-info">
                    <p>
                        The main room iss: <a href="#" id="mainroom">Main Room</a> the public room where everybody arrives at first
                    </p>
                    <p>
                        My room is: <a href="#" id="myroom">My Room</a> share this link with others to have private chats
                    </p>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <button id="addStream" class="btn btn-info">Add Local Stream</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <h3>Local Streams<small> - add multiple local streams by clicking "Add Local Stream"</small></h3>
                <div id="local"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <h3>Remote Streams<small> - other clients local streams</small></h3>
                <div id="remote"></div>
            </div>
        </div>
    </div>
</body>
</html>
